:root {
  --color-primary: #f3eed9;
  --color-secondary: #ffffff;
  --color-tertiary: #222c2a;
  --color-quaternary: #824936;
  --ff-primary: "Playfair Display", sans-serif;
  --ff-secondary: "Roboto", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

.main__image {
  border: 1px solid white;
  max-width: 100%;
}

.container {
  max-width: 1128px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 2.25rem;
  font-weight: 700;
  font-family: var(--ff-primary);
  margin-bottom: 1rem;
  line-height: 1.1;
}

.text {
  font-size: 1.3125rem;
  font-weight: 500;
  font-family: var(--ff-secondary);
}

.section {
  min-height: 460px;
  padding: 1rem 5rem;
}

.main__container--one {
  background-color: var(--color-primary);
  text-align: center;
  align-items: center;
  min-height: 660px;
  justify-content: center;
}

.container__one--intro {
  font-size: 1.125rem;
  text-transform: uppercase;
  font-family: var(--ff-secondary);
  font-weight: 300;
  letter-spacing: 3px;
}

.container__one--title {
  font-size: 3.75rem;
  font-family: var(--ff-primary);
  font-weight: 700;
  color: var(--color-quaternary);
  line-height: 1.1;
}

.main__container--two {
  background-color: var(--color-secondary);
  align-items: center;
  justify-content: center;
}

.container__two--title {
  color: var(--color-quaternary);
  text-align: center;
}

.container__two--text {
  max-width: 450px;
}

.main__container--three {
  background-color: var(--color-tertiary);
  justify-content: center;
}

.container__three--title {
  color: var(--color-primary);
}

.container__three--text {
  color: var(--color-secondary);
}

.main__container--four {
  background-color: var(--color-quaternary);
  justify-content: center;
}

.container__four--title {
  color: var(--color-primary);
}

.container__four--text {
  color: var(--color-secondary);
}

.container__four--flex,
.container__three--flex {
  max-width: 450px;
}

.container__three--flex {
  margin-right: 3rem;
}

.container__four--flex {
  margin-left: 3rem;
}

.container__two--text + .container__two--text {
  margin-left: 1.5em;
}

@media (max-width: 900px) {
  .container__four--flex,
  .container__three--flex {
    max-width: 350px;
  }

  .main__image {
    border: 1px solid white;
    /* max-width: 80%; */
  }

  .image__container {
    width: 80%;
  }
}

@media (max-width: 800px) {
  .container__one--title {
    font-size: 2.75rem;
  }

  .title {
    text-align: center;
    font-size: 2rem;
  }

  .text {
    text-align: center;
    font-size: 0.8rem;
  }

  .row {
    flex-direction: column;
  }

  .container__four--flex,
  .container__three--flex {
    margin: 0 0 1rem 0;
  }

  .section {
    padding: 2rem 2rem;
  }
}
